{% block field_row %}
{% spaceless %}
    <div class="clearfix">
        {{ form_label(form, label) }}
		<div class="input">
			{{ form_widget(form, { 'attr': {'class': 'xlarge', 'rows':9} }) }}
        	{{ form_errors(form) }}
		</div>
    </div>
{% endspaceless %}
{% endblock field_row %}