{% block field_row %}
{% spaceless %}

	{% if class is not defined %}
		{% set class = "xlarge" %}
	{% endif %}

    <div class="control-group {% if errors|length > 0 %}error{% endif %}">

		<label class="control-label">{{ label }}</label>

        <!--{{ form_label(form, label) }}-->

		<div class="controls">
			{{ form_widget(form, { 'attr': {'class': class, 'rows':9} }) }}
			
	        {% for error in errors %}
	            <span class="help-inline">{{ error.messageTemplate }}</span>
	        {% endfor %}
			

		</div>
    </div>
{% endspaceless %}
{% endblock field_row %}