{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Cambiar contrase単a" %}



{% block content %}

<h1>Cambiar contrase単a</h1>


<form action="{{ path('user_forgotpass', { 'token': token, 'id': entity.id }) }}" method="post">

	
  {{ form_errors(form) }}


		
	{{ form_row(form._token) }}
	{{ form_row(form.pass, { 'label': 'Contrase単a' }) }}


	<div class="actions">
		<button type="submit" class="btn primary">Cambiar contrase単a</button>
	</div>

	
</form>




{% endblock %}