{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Estadísticas de usuarios" %}

{% block content %}

<h1>Estadísticas de usuarios</h1>

<ol>
{% for entity in entities %}

	<li><a href="{{ path('user_search') }}?c={{ entity.category_id }}">{{ categories[ entity.category_id ] }}: {{ entity.total }}</a></li>

{% endfor %}
</ol>

{% endblock %}