

.footer{padding:15px 0 15px 0;margin-top:5px;border-top:1px #efefef solid;}
	

.wrap{width:750px;margin:auto;padding:10px}
.floatL{float:left}
.floatR{float:right}
.clear{clear:both}


A.title{font-size:20px}
SPAN.date{color:#ccc}
SPAN.freelance{color:#33CC00;padding-left:10px}

.filters{padding-left:20px;border-left:1px #efefef solid;float:left;width:180px;float:right}
	.filters A{display:block;padding-top:10px}

A.portafolio{background:url('../images/portafolio.png') no-repeat left center;padding-left:23px}
A.rss{clear:both;float:left;margin-right:7px}
A.facebook{background:url('../images/facebook.png') no-repeat left center;padding-left:23px}
A.twitter{background:url('../images/twitter.png') no-repeat left center;padding-left:23px}
A.flickr{background:url('../images/flickr.png') no-repeat left center;padding-left:23px}
A.github{background:url('../images/github.png') no-repeat left center;padding-left:23px}
A.linkedin{background:url('../images/linkedin.png') no-repeat left center;padding-left:23px}
A.dribbble{background:url('../images/dribbble.png') no-repeat left center;padding-left:23px}
A.youtube{background:url('../images/youtube.png') no-repeat left center;padding-left:23px}
A.forrst{background:url('../images/forrst.png') no-repeat left center;padding-left:23px}

A.stackoverflow{background:url('../images/stackoverflow.png') no-repeat left center;padding-left:23px}
A.vimeo{background:url('../images/vimeo.png') no-repeat left center;padding-left:23px}
A.delicious{background:url('../images/delicious.png') no-repeat left center;padding-left:23px}
A.pinboard{background:url('../images/pinboard.png') no-repeat left center;padding-left:23px}
A.itunes{background:url('../images/itunes.png') no-repeat left center;padding-left:23px}
A.android{background:url('../images/android.png') no-repeat left center;padding-left:23px}

/* twitter list */

#twitter_list A{
height:55px;
width:150px;
float:left;
padding:10px;
background:#CFF;
font-size:10px;
margin:0 10px 10px 0;
color:#195F91;
}

#twitter_list B{
font-size:16px;
display:block;
}

/* bootstrap rewrite */

html, body {background:#fff}
.content{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}

PRE{background:white;border:0;padding:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;}
.filters .primary{width:179px;text-align:center;padding-left:0;padding-right:0}

/* user profile */

H1{font-size:24px;margin-bottom:10px}
.carrusel img{width:80px;height:80px}
UL.list LI{clear:both;margin-bottom:10px}
#github_graph{text-align:center}
#loader{display:none;clear:both;text-align:center;padding:10px}