
/* bootstrap rewrite */

html, body {
  background-color: #eee;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
#content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  /*-webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
	*/
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
  min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.topbar .btn {
  border: 0;
}

html, body {background:#fff}
.content{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}

PRE{background:white;border:0;padding:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;}
.filters a.btn, .filters button.btn{width:179px;text-align:center;padding-left:0;padding-right:0}

.fixed{position:fixed}
/* other */

.footer{padding:15px 0 15px 0;margin-top:5px;border-top:1px #efefef solid;}
	

.wrap{width:750px;margin:auto;padding:10px}
.floatL{float:left}
.floatR{float:right}
.clear{clear:both}


A.title{font-size:20px}
.date{color:#ccc}
.freelance{color:#33CC00;padding-left:10px}
.votes{background:url('../images/thumbsup.png') no-repeat left center;padding-left:20px;font-weight:bold;color:orange;margin-left:10px}

.filters{padding-left:20px;border-left:1px #efefef solid;width:190px}
	.filters A{display:block;padding-top:10px}

A.ico{background-repeat:no-repeat;background-position:left center;padding-left:23px}
A.portafolio{background-image:url('../images/portafolio.png')}
A.rss{clear:both;float:left;margin-right:7px}
A.facebook{background-image:url('../images/facebook.png')}
A.twitter{background-image:url('../images/twitter.png')}
A.flickr{background-image:url('../images/flickr.png')}
A.github{background-image:url('../images/github.png')}
A.masterbranch{background-image:url('../images/masterbranch.png')}
A.linkedin{background-image:url('../images/linkedin.png')}
A.dribbble{background-image:url('../images/dribbble.png')}
A.youtube{background-image:url('../images/youtube.png')}
A.forrst{background-image:url('../images/forrst.png')}
A.stackoverflow{background-image:url('../images/stackoverflow.png')}
A.vimeo{background-image:url('../images/vimeo.png')}
A.delicious{background-image:url('../images/delicious.png')}
A.pinboard{background-image:url('../images/pinboard.png')}
A.itunes{background-image:url('../images/itunes.png')}
A.android{background-image:url('../images/android.png')}
A.chrome{background-image:url('../images/chrome.png')}

/* twitter list */

#twitter A{
overflow-x:hidden;
height:55px;
width:150px;
float:left;
padding:10px;
background:#CFF;
font-size:10px;
margin:0 10px 10px 0;
color:#195F91;
}

#twitter B{
font-size:16px;
display:block;
}

/* user profile */

H1{font-size:24px;margin-bottom:10px}
.carrusel img{width:80px;height:80px}
UL.list LI{clear:both;margin-bottom:10px}
#github_graph{text-align:center}
#loader{display:none;clear:both;text-align:center;padding:10px}

/* user edit */
.group_edit{font-weight:bold;padding:10px;background:#efefef;border-bottom:1px #ccc solid;margin-bottom:10px}
.help_edit{float:right;margin-top:10px;color:#AAA}
.help_a{float:right;margin-top:10px}
.help_arrow{position:absolute;background:url('../images/arrow.png') no-repeat left bottom;font-size:12px;color:red;margin-left:150px;padding:0 0 10px 30px;margin-top:-25px}



/* redesign topbar */
body{padding-top:0}
.topbar{position:relative}
.topbar-inner, .topbar .fill{background-image:-webkit-linear-gradient(top, #fff, #f5f5f5);-webkit-box-shadow:none;border-bottom:1px #ccc solid}
.topbar h3 a, .topbar .brand{color:#F30;font-weight:bold;padding-right:10px}
	.topbar .brand:hover{text-decoration:none}
.topbar a{text-shadow:none}
.nav a{color:#000}
.topbar input {border: 1px solid #CCC;background-color:#fff;color:#000}
.topbar div > ul a:hover, .nav a:hover {color:#000}
.topbar div > ul li.active > a, .nav li.active > a{color:black;background-color:#efefef;}

ul.nav li.open{background-color:#191919}
.topbar div > ul a, .nav a{padding:10px 10px 11px 11px;}



.breadcrumb{background:none;padding:0;border:0}


#topbar a.config{font-size:0;background:url('../images/config.png') no-repeat center center;}
#topbar li.open a.config{background-image:url('../images/config2.png')}
#topbar a.config::after{opacity:0}




/* redesign primary */
.btn.primary{background-color:#6B9A00;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #D2E235), color-stop(100%, #8ECD00))}
.btn:hover{background-position: 0 -40px;}