{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "¿Qué es esto?" %}

{% block sidebar %}
	<b>Enlaces</b><br/>
	<a href="http://betabeers.com">Blog betabeers</a>
	<a href="http://twitter.com/betabeers">Twitter betabeers</a>
	<a href="http://betabeers.com/contacto/">Contacto</a>
{% endblock %}

{% block content %}

<h1>¿Qué es esto?</h1>

Betabeers es un evento de desarrolladores web/móvil nacido en madrid, de empezar 6 personas poco a poco nos hemos vuelto una comunidad y nuestro foro se esta empezando colapsar con ofertas de trabajo que a muchos no les importan.

<br/><br/>

Este directorio surge de dos necesidades:

<br/><br/>

1- Mucha gente me pregunta si conozco un buen programador o diseñador, en este directorio será posible anunciar una oferta de trabajo para varios perfiles de una startup como pueden ser Programador web, Programador apps móvil, Diseñadores, Bloggers, Communiy managers, SEO y Traductor.

<br/><br/>

2- Pienso que redes como twitter y linkedin son útiles, pero están limitadas, no te puedes poner en contacto de forma privada con nadie si no estoy registrado y si la persona no me tiene agregado como contacto a no ser que pague el servicio premium.

<br/><br/>

Todavía quedan varios detalles para terminar este sitio, pero antes tengo que estudiar como la gente lo usa para mejorarlo.

<br/><br/>

<a href="http://twitter.com/miquelcamps">Sigueme en twitter @miquelcamps</a>

{% endblock %}