{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "¿Como esta hecho?" %}

{% block sidebar %}
	<b>Agradecimientos</b><br/>
	<a href="http://twitter.com/raulfraile">Raul Frailie</a>
	<a href="http://twitter.com/ricardclau">Ricard Clau</a>
	<a href="http://twitter.com/Osukaru80">Oscar López</a>
	<a href="http://twitter.com/moisesgallego">Moises Gallego</a>
	<a href="http://www.symfony-madrid.es">Symfony Madrid</a>
	
{% endblock %}

{% block content %}

<h1>¿Como esta hecho?</h1>

Este sitio esta construido bajo <a href="http://symfony.com">symfony2</a> (php), tenía ganas de aprender a usar este framework y que mejor forma de hacerlo que practicando :)

<br/><br/>

Para el diseño se usa el framework css <a href="http://twitter.github.com/bootstrap/">bootstrap de twitter</a> y el código fuente lo he liberado en <a href="https://github.com/miquelcamps/directoriopro">github</a> por si alguien quiere contribuir a mejorarlo.

<br/><br/>

Al ser novato con symfony puede que el código no este perfecto, por ejemplo no pude hacer funcionar ningún bundle para hacer facebook connect, así que hice una ñapa con el ejemplo del <a href="https://github.com/facebook/php-sdk">sdk de facebook</a>.

<br/><br/>

Para la páginación uso el bundle <a href="https://github.com/whiteoctober/Pagerfanta">PagerFanta</a> de <a href="http://twitter.com/pablodip">Pablo Díez</a> y para los avatares la API de <a href="http://es.gravatar.com/site/implement">gravatar</a>

<br/><br/>

<b>¿Quieres aprender symfony?</b>

<br/><br/>

Te recomiendo empezar con <a href="http://miquelcamps.com/symfony/primeros-pasos-con-symfony2-usando-mamp-en-mac/">este tutorial</a> para saber como instalarlo localmente en mac.

<br/><br/>

<ul>
	<li><a href="http://symfony.com/doc/current/">Documentación oficial</a></li>
	<li><a href="http://www.etnassoft.com/biblioteca/manual-de-symfony2/">Libro manual de symfony2 en openlibra</a></li>
	<li><a href="http://tutorial.symblog.co.uk/">Tutorial creando un blog con symfony2</a></li>
	<li><a href="http://facultia.com/blog/tag/symfony2/">Posts de @raulfraile sobre symfony2</a></li>
</ul>

Si vives en <a href="http://www.symfony-madrid.es">madrid</a> o <a href="http://twitter.com/symfony_bcn">barcelona</a> hay grupos que se reunen mensualmente para hablar sobre symfony, aunque también hay un <a href="https://groups.google.com/forum/#!forum/symfony-es">foro en español</a>.


{% endblock %}